/* small screen responsive media quary */

@media screen and (max-width: 576px) {
    .nav-container{
        width: 100%;
        padding: 20px;

    }
    .nav-menu-section{
        display: none;
    }
    .ham-burgar{
        display: block;
    }
    .banner-container{
        width: 100%;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        gap: 10px;
    }
    .banner-image-container{
        width: 100%;
    }
    .banner-image-container > img {
        width: 280px;
        display: block;
        margin: 0 auto;
    }
    .image-main img{
        width: 205px;
        height: auto;
        display: block;
        margin: 0 auto;
    }
    .banner-title {
        text-align: center;
        width: 404px;
        height: 78px;
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 42px;
        margin: 0 auto;
        padding: 20px;
        margin-bottom: 15px;
    }
    .banner-description {
        text-align: center;
        width: 321px;
        font-size: 0.8rem;
        font-weight: 500;
        margin: 0 auto;
        margin-top: 36px;
        margin-bottom: 16px;
    }
   .btn-primary{
    display: block;
    margin: 0 auto;
   }
    .sponsor-container{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        
    }
    .logos {
        width: 352px;
        padding: 0;
        position: absolute;
        left: 30px;
        /* gap: 8px; */
        /* justify-items: center; */
        align-items: center;
        /* display: block; */
        /* margin: 0 auto; */
    }
    .logos img {
        width: 21%;
        margin: 0px;
        padding-top: 20px;
        align-items: center;
    }
    .border{
        display: none;
    }
}








@media screen and (min-width: 576px) and (max-width: 992px){
    .nav-container{
        width: 100%;
        padding: 20px;

    }
}